<div class="container">
  <div class="row m-5 text-center">
    <div class="col-6">
      Nombre de réservations: <%= @bookings %>
    </div>
    <div class="col-6">
      Nombre d'acheteurs uniques: <%= @buyers %>
    </div>
  </div>
  <div class="row m-5 text-center">
    <div class="col-6">
      Age moyen des acheteurs: <%= @median_age %> ans
    </div>
    <div class="col-6">
      Prix moyen par représentation: <%= @avg_price %> €
    </div>
  </div>
  <div class="mt-5 text-center">
    <%= link_to "Back to import", root_path(), class: "btn btn-secondary" %>
  </div>
</div>
